<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.2.8/css/fileinput.css" media="all" rel="stylesheet" type="text/css" />

    <style>
        .lake-brite-gif {
            width: 100%;
        }
        .btn-file {
            position: relative;
            overflow: hidden;
        }
        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: white;
            cursor: inherit;
            display: block;
        }
    </style>
</head>
<body class="container">
    <h1>Lake Brite GIF Generator</h1>
    <div class="row lake-metric-animation">
        <div class="col-sm-6">
            <h2>Lake Metric Animation</h2>
            <div class="row">
                <div class="col-xs-8">
                    <form id="lake-animation-form">
                        <div class="form-group">
                            <label for="metric">Metric</label><br />
                            <select name="metric" class="form-control">
                                {% for metric in metrics %}
                                    <option>{{ metric }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="palette">Palette</label><br />
                            <select name="palette" class="form-control">
                                {% for palette in palettes %}
                                    <option>{{ palette }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="duration">Frame Rate (<span id="animation-duration">0.250</span>ms)</label><br />
                            <input id="animation-slider" name="duration" type="range"
                                min="0.025" value="0.250" max="0.5" step="0.0125">
                        </div>
                        <div class="form-group">
                            <label for="tween-frames">Number of frames to tween: <span id="frames-to-tween">0</span></label><br />
                            <input id="tween-frames" name="tween-frames" type="range"
                                min="0" value="0" max="5" step="1">
                        </div>
                        <div class="form-group">
                            <label for="empty-frames">Number of empty frames at end: <span id="frames-at-end">0</span></label><br />
                            <input id="empty-frames" name="empty-frames" type="range"
                                min="0" value="0" max="50" step="1">
                        </div>
                        <div class="form-group">
                            <label for="clip-to-lake">Clip To Lake</label>
                            <input type="checkbox" name="clip-to-lake" value="clip-to-lake">
                        </div>
                        <button type="submit" class="btn btn-default">Generate Animation</button>
                        <a class="btn btn-default" href="{{ url_for('save_lake_animation')}}" role="button">Save GIF</a>
                    </form>
                </div>
                <div class="col-xs-4">
                    <img id="lake-animation" class="lake-brite-gif" src="{{ url_for('lake_animation') }}" />
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <h2>GIF to Lake Brite Animation</h2>
            <div class="row">
                <div class="col-xs-8">
                    <form id="regular-gif-form" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="gif-upload">Upload 50x15 GIF</label>
                            <input name="file" type="file">
                        </div>
                        <div class="form-group">
                            <label for="gif-duration">Frame Rate (<span id="gif-duration">0.125</span>ms)</label><br />
                            <input id="duration-slider" name="gif-duration" type="range"
                                min="0.025" value="0.125" max="0.5" step="0.0125">
                        </div>
                        <button id="generate-regular-gif" type="submit" class="btn btn-default">Generate Animation</button>
                        <a class="btn btn-default" href="{{ url_for('save_regular_gif')}}" role="button">Save GIF</a>
                    </form>
                </div>
                <div class="col-xs-4">
                    <img id="regular-gif" class="lake-brite-gif" src="{{ url_for('regular_gif') }}" />
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>
